@import './definitions.scss';

header {
  -webkit-tap-highlight-color: transparent;
  position: relative;
  font-family: 'Lato', sans-serif !important;
  text-align: center;
  height: 4rem;
  width: 100%;
  z-index: 0;
  background: linear-gradient(
    to right,
    color(primary) 65%,
    rgba(color(primary), 0.9)
  );
  div {
    position: absolute;
    top: 0;
    left: 10%;
    height: 4rem;
    transform: translateX(-50%);
    z-index: 10;
    padding: 0;
    transition: 0.3s;
    img {
      z-index: 10;
      height: 100%;
      filter: invert(73%) sepia(99%) saturate(453%) hue-rotate(356deg)
        brightness(105%) contrast(107%);
      transition: 0.3s;
      @include mobile {
        transform: rotateY(-180deg) scale(0.75);
      }
    }
    &.logo-container {
      animation: playAnimationLogo 2s ease forwards;
      animation-delay: 3s;
      left: 50%;
    }
  }
  p {
    display: inline-block;
    color: #ddd;
    vertical-align: top;
    line-height: 4rem;
    z-index: 0;
    transition: 0.3s;
    visibility: hidden;
    @include mobile {
      visibility: visible;
    }
    width: 100%;
    &.header-title {
      animation: playAnimationTitle 1s ease forwards;
      animation-delay: 3s;
    }
  }
  &:hover {
    .logo-container {
      img {
        transform: rotateY(-180deg);
      }
    }
  }
}

main {
  padding-top: 1rem;
  overflow-x: hidden;
  background: url('../triangle-mosaic.png') repeat center/cover;
  background-attachment: fixed;
  @include mobile {
    background: url('../triangle-mosaic.png') repeat;
  }
  .container-grid {
    justify-items: center;
    width: 85%;
    position: relative;
    display: grid;
    margin: 1rem auto;
    padding-top: 2rem;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 1rem;
    grid-row-gap: 2.5rem;
    font-family: 'Lato', sans-serif !important;
    transition: 0.5s;
    @include tablet {
      width: 90%;
      grid-template-columns: repeat(3, 1fr);
      grid-row-gap: 1.5rem;
    }
    @include mobile {
      width: 90%;
      margin: 0 15.5% 0 0.5rem;
      grid-template-columns: repeat(2, 1fr);
      grid-column-gap: 1.5rem;
    }
    .movie-card {
      position: relative;
      max-width: 300px;
      opacity: 0;
      border: 1px solid color(primary);
      background: #fff;
      border-radius: 15px 0 15px 15px;
      animation: fadeIn 0.5s ease-in-out forwards;
      @for $i from 1 through 14 {
        &:nth-child(#{$i}) {
          animation-delay: #{$i * 0.08}s;
        }
      }
      .poster-container {
        position: relative;
        transition: 0.2s;
        &:hover {
          opacity: 0.8;
        }
        @include mobile {
          padding: 0;
        }
        &::after {
          position: absolute;
          content: ' ';
          bottom: 0;
          right: 0;
          height: 100px;
          background: linear-gradient(to top, #fff 2%, transparent 65%);
          width: 100%;
          transition: 0.35s;
        }
        img {
          width: 100%;
          height: auto;
          border-radius: 15px 0 0 0;
        }
        .rating-container {
          position: absolute;
          top: -50px;
          right: -50px;
          width: 100px;
          height: 100px;
          text-align: center;
          .canvas-rating {
            position: absolute;
            left: 0;
          }
          .rating-number {
            position: relative;
            z-index: 10;
            line-height: 100px;
            color: #fff;
            font-weight: bold;
            font-size: 1.2rem;
          }
        }
      }

      .title {
        padding-left: 10px;
        color: color(primary);
        @include mobile {
          font-size: 0.9rem;
        }
        span {
          font-size: 0.75rem;
        }
      }
      .language {
        padding: 5px 0 10px 10px;
        @include mobile {
          font-size: 0.75rem;
        }
      }
    }
  }
  .load-btn {
    margin-left: 50%;
    @include tablet {
      margin-left: 2rem;
    }
  }
  .random-btn {
    float: right;
    margin-right: 2rem;
    i {
      font-size: 1.5rem;
    }
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: scale(0);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes playAnimationTitle {
  0% {
    width: 0;
    visibility: visible;
    transform: translate(-3rem);
  }
  1% {
    width: 100%;
  }
  100% {
    width: 100%;
    visibility: visible;
    transform: translate(0rem);
  }
}
@keyframes playAnimationLogo {
  0% {
    background: color(primary);
    left: calc(50% - 12rem + 8rem - 32px);
    padding: 0 0 0 12rem;
    transform: translateX(-50%) rotateY(0deg);
  }
  50% {
    left: 40%;
    padding: 0 0 0 4rem;
    transform: translateX(-50%) rotateY(0deg);
  }
  75% {
    left: 40%;
    transform: translateX(-50%) rotateY(-180deg);
  }
  82% {
    transform: translateX(-50%) rotateY(-180deg);
    background: color(primary);
  }
  100% {
    left: 10%;
    transform: translateX(-50%) rotateY(0deg);
  }
}
