@import "./definitions.scss";

.roulette-screen {
  z-index: 150;
  position: fixed;
  width: 50%;
  height: 80vh;
  background: color(primary);
  border-radius: 10px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Lato", sans-serif !important;
  @include tablet {
    width: 100%;
    height: 100%;
    border-radius: 0;
  }
  h2 {
    display: block;
    text-align: center;
    transform: translateY(-20px);
    color: color(secondary);
    @include mobile {
      transform: unset;
      display: inline-block;
      margin-left: 1rem;
    }
  }
  p {
    color: color(radioBorder);
    margin: 0.5rem 0 0 2rem;
    @include mobile {
      margin: 2rem 0 0 1rem;
    }
  }
  .close-container {
    position: relative;
    width: 30px;
    height: 30px;
    margin: 1rem 0 0 1.8rem;
    cursor: pointer;
    z-index: 1500;
    transition: 0.25s;
    .right,
    .left {
      height: 4px;
      width: 30px;
      margin-top: 9.5px;
      position: absolute;
      border-radius: 15px;
      border: 1px color(primary) solid;
      background: color(thirdColor);
      transition: 0.3s;
    }
    .right {
      transform: rotate(-45deg);
    }
    .left {
      transform: rotate(45deg);
    }
    &::after {
      position: absolute;
      content: "CLOSE";
      color: color(secondary);
      bottom: 12px;
      left: -2px;
      font-size: 0.7rem;
      opacity: 0;
      transition: 0.3s;
    }
    &:hover {
      .right {
        transform: rotate(45deg);
        background: color(secondary);
      }
      .left {
        transform: rotate(-45deg);
        background: color(secondary);
      }
      &::after {
        opacity: 1;
        bottom: -12px;
      }
    }
    @include mobile {
      display: inline-block;
      transform: translateY(10px);
      margin: 1rem 1.5rem 0 1rem;
    }
  }
  ul {
    columns: 2;
    @include tablet {
      columns: 3;
    }
    @include mobile {
      columns: 2;
    }
    li {
      list-style-type: none;
    }
    label {
      padding-left: 2rem;
      font-size: 1.1rem;
      display: block;
      cursor: pointer;
      margin: 1rem 0;
      -webkit-tap-highlight-color: transparent;
      @include tablet {
        font-size: 0.8rem;
        padding-left: 1rem;
      }
      input {
        display: none;
        & + span {
          color: color(radioBorder);
          line-height: $radioSize + 2;
          height: $radioSize + 2;
          padding-left: $radioSize + 10;
          display: block;
          position: relative;
          transition: 0.3s;
          @include tablet {
            height: 15px;
            line-height: 24px;
          }
          &::before,
          &::after {
            content: " ";
            width: $radioSize;
            height: $radioSize;
            display: block;
            border-radius: 8px;
            left: 0;
            top: 0;
            position: absolute;
          }
          &::before {
            background: color(radioBorder);
            transition: background 0.2s ease,
              transform 0.4s cubic-bezier(0.175, 0.885, 0.32, 2);
          }
          &::after {
            background: color(primary);
            transform: scale(0.7);
            transition: transform 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.4);
          }
        }

        &:checked + span {
          color: color(secondary);
          &::before {
            transform: scale(1.05);
            background: color(secondary);
          }
          &::after {
            transform: scale(0.6);
            transition: transform 0.3s ease;
          }
        }
      }
      &:hover {
        input {
          &:not(:checked) {
            & + span {
              padding-left: $radioSize + 20;
            }
          }
          & + span {
            &::before {
              transform: scale(0.75);
            }
            &::after {
              transform: scale(0.75);
              background: color(secondary);
            }
          }
          &:checked + span {
            &::after {
              transform: scale(1);
              background: color(secondary);
            }
          }
          &:not(:checked) + span {
            color: rgba(color(secondary), 0.5);
          }
        }
      }
    }
  }

  .roll-btn {
    display: block;
    margin: 2rem auto;
    background: color(primary);
    color: color(thirdColor);
    box-shadow: none;
    outline: none;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border-radius: 1rem;
    cursor: pointer;
    border: 1px solid color(thirdColor);
    transition: 0.25s;
    -webkit-tap-highlight-color: transparent;
    &:hover,
    &:focus {
      box-shadow: 0 0.5rem 0.5rem -0.4rem color(secondary);
      transform: translateY(-0.25rem);
      border-color: color(secondary);
      color: color(secondary);
    }
    @include tablet {
      position: absolute;
      top: 0.5rem;
      right: 1rem;
      margin: 0.25rem auto;
    }
    @include mobile {
      position: unset;
      top: unset;
      right: unset;
      margin: 1rem auto;
    }
  }

  span.border-animation {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    box-sizing: border-box;
    &:nth-child(1) {
      width: 100%;
      transform: rotate(0deg);
    }
    &:nth-child(2) {
      height: 100%;
      width: 80vh;
      left: calc(100% - 2px);
      transform: rotate(-90deg);
      @include tablet {
        display: none;
      }
    }
    &:nth-child(3) {
      width: 100%;
      top: 100%;
      transform: rotate(180deg);
    }
    &:nth-child(4) {
      height: 100%;
      width: 80vh;
      @include tablet {
        display: none;
      }
      transform: rotate(90deg) translateY(calc(100% - 2px));
    }
    &::before {
      content: " ";
      position: absolute;
      width: 100%;
      height: 2px;
      background: color(secondary);
      animation: borderanim 4s linear infinite;
    }
  }
}

@keyframes borderanim {
  0% {
    transform: scaleX(0);
    transform-origin: left;
  }
  50% {
    transform: scaleX(1);
    transform-origin: left;
  }
  50.1% {
    transform: scaleX(1);
    transform-origin: right;
  }
  100% {
    transform: scaleX(0);
    transform-origin: right;
  }
}
